---
layout: page
permalink: media/
title: Media
redirect_from:
 - /media.html
---
<div class="subheader">
	<div class="container img-overlay">
    	<h1>Media</h1>
    	<h2>Press Releases</h2>
    </div>

</div>

<div class="container">

	<div class="row">

        <div class="col-sm-8 col-sm-offset-2 blog-main">
          {% for post in site.posts %}
          <div class="blog-post">
              <h2>
                {% if post.external %}
                  <a href="{{ post.ext-link }}">
                {% else %}
                  <a href="{{ post.url }}">
                {% endif %}
                {{ post.title }}
                </a>
              </h2>
                <p class="blog-post-meta"><a href="mailto:{{post.email}}">{{ post.author }}</a><br>
                {{ post.date | date: "%b %d, %Y" }}
                </p>
                <p>{{ post.content | split:'<!--break-->' | first }}
                  {% if post.content contains '<!--break-->' %}
                      {% if post.external %}
                        <a href="{{ post.ext-link }}">View post</a>
                      {% else %}
                        <a href="{{ post.url }}">Read more...</a>
                      {% endif %}
                  {% endif %}</p>
          </div>
          {% endfor %}
        </div><!-- /.blog-main -->

	</div><!-- /.row -->

</div><!-- /.container -->