<footer class="footer">
    <div class="container">
      <div class="row items">
        <div class="col-lg-10 col-lg-offset-1">
        <table class="table">
          <tr>
            <th>
              <img src="/assets/img/ainc_community_logo.png" /> Community
            </th>
            <th>
              <img src="/assets/img/ainc_community_logo.png" /> About
            </th>
            <th>
              <img src="/assets/img/ainc_community_logo.png" /> Coworking
            </th>
          </tr>
          <tr>
            <td><a href="http://www.awesomeinc.org" target="_blank">Awesome Inc</a></td>
            <td><a href="http://www.awesomeinc.org/about/#core-values" target="_blank">Core Values</a></td>
            <td><a href="http://www.awesomeinc.org/internships" target="_blank">Internships</a></td>
          </tr>
          <tr>
            <td><a href="#" target="_blank">APAX Software</a></td>
            <td><a href="http://blog.awesomeinc.org" target="_blank">Our Blog</a></td>
            <td><a href="http://www.awesomeinc.org/coworking/#tour" target="_blank">Schedule a Tour</a></td>
          </tr>
          <tr>
            <td><a href="http://awesomeincu.com" target="_blank">Awesome Inc U</a></td>
            <td><a href="http://www.awesomeinc.org/about/#events" target="_blank">Programs & Events</a></td>
            <td><a href="http://awesomeinc.org" target="_blank">Rent Space</a></td>
          </tr>
          <tr>
            <td><a href="http://fellowship.awesomeinc.org" target="_blank">Awesome Fellowship</a></td>
            <td><a href="http://awesomeinc.org/culture-book.pdf" target="_blank">Culture Book</a></td>
            <td><a href="http://awesomeinc.org/parking" target="_blank">Parking</a></td>
          </tr>
          <tr>
            <td></td><!-- empty cell -->
            <td><a href="/contact">Contact Us</a></td>
            <td><a href="https://www.google.com/maps/place/348+E+Main+St,+Lexington,+KY+40507/@38.0419107,-84.4933001,17z/data=!4m2!3m1!1s0x884244e844532c33:0xb6919957af36b713" target="_blank">Map</a></td>
          </tr>
        </table>
        </div> <!-- /col-lg-10 -->
      </div> <!-- /row items -->
    </div> <!-- /container -->

</footer>