 <!-- Footer Wrap -->
<footer class="footer">
  <div class="container">
    <div class="row items">
      <div class="col-lg-12">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <!-- <div class="partial-border"></div> -->
          <ul>
            <h5>Fellowship Links</h5>
            <li>
              <a href="/apply">Apply</a>
            </li>
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/about#team">Our Team</a>
            </li>
            <li>
              <a href="http://www.awesomeinc.org/coworking/" >Our Space</a>
            </li>
            <li>
              <a href="/about#mentors">Mentors</a>
            </li>
            <li>
              <a href="/perks">Perks</a>
            </li>
            <li>
              <a href="/about#contact">Contact Us</a>
            </li>
            <li>
              <a href="/portfolio">Portfolio</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
          </ul>
          <ul>
            <h5><img src="/assets/img/ainc_community_logo.png" /> Community</h5>
            <li>
              <a href="http://www.awesomeinc.org/" >Awesome Inc</a>
            </li>
            <li>
              <a href="http://www.apaxsoftware.com/" >APAX Software</a>
            </li>
            <li>
              <a href="http://www.awesomeincu.com/" >Awesome Inc U</a>
            </li>
            <li>
              <a href="http://cherubfund.org/" >Cherub Fund</a>
            </li>
            <li>
              <a href="https://www.awesomeinc.org/our-jobs" >Careers</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-md-offset-1 col-xs-12 table-responsive">
          <h5 class="center">The Awesome Fellowship thanks its sponsors:</h5>
          <table width="100%">
            <tr>
              <td><a href="http://www.awesomeinc.org" ><img src="/assets/img/sponsors/Awesome-Inc.png"></a></td>
              <td><a href="http://www.thinkkentucky.com/" ><img src="/assets/img/sponsors/economic_development.png"></a></td>
              <td><a href="http://kyinnovation.com/" ><img src="/assets/img/sponsors/ky_innovation_network.png"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.apaxsoftware.com/" ><img src="/assets/img/sponsors/Apax_logo_red.png"></a></td>
              <td><a href="http://marksburyfamilyfoundation.org/about.php" ><img src="/assets/img/sponsors/marksbury.png"></a></td>
              <td><a href="http://www.dinsmore.com/" ><img src="/assets/img/sponsors/dinsmore.png"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.commercelexington.com/" ><img src="/assets/img/sponsors/commerce_lexington.png"></a></td>
              <td><a href="http://www.lexingtonky.gov/" ><img src="/assets/img/sponsors/LFUCG.png" class="large-image"></a></td>
              <td><a href="http://gatton.uky.edu/" ><img src="/assets/img/sponsors/gatton.png"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.blueandco.com/" ><img src="/assets/img/sponsors/blueandco.png"></a></td>
              <td><a href="http://boothenergy.zohosites.com/" ><img src="/assets/img/sponsors/booth_energy.png"></a></td>
              <td><a href="https://www.deltadental.com/" ><img src="/assets/img/sponsors/Delta-Dental-logo.png"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.stites.com/" ><img src="/assets/img/sponsors/Stites_and_Harbison.png"></a></td>
              <td><a href="http://www.harper1.com/" ><img src="/assets/img/sponsors/harper_industries.png"></a></td>
              <td><a href="https://www.rubiconglobal.com/" ><img src="/assets/img/sponsors/rubicon.png"></a></td>
            </tr>
            <tr>
              <td><a href="http://www.entrepreneurhof.com/john-williams" ><h6>John & Vivian Williams</h6></a></td>
              <td><a href="https://www.linkedin.com/pub/j-whitney-wallingford/16/3bb/7a6" ><h6>Whitney Wallingford</h6></a></td>
              <td><a href="http://www.entrepreneurhof.com/chris-sullivan" ><h6>Chris T Sullivan Foundation</h6></a></td>
            </tr>
            <tr>
              <td><a href="https://www.linkedin.com/in/brianpoe" ><h6>Brian Poe</h6></a></td>
              <td><a href="https://www.linkedin.com/in/chris-young-4990941" ><h6>Chris Young</h6></a></td>
            </tr>
          </table>


        </div>  
      </div> <!-- /col-lg-10 -->
    </div> <!-- /row items -->
  </div> <!-- /container -->

</footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
     <!-- <script>
    //  $(function () { $("[data-toggle='tooltip']").tooltip(); });
    </script> -->
   <!-- <script>
  //  $('.carousel').carousel({
  //    interval: 3500
  //  });
  // </script> -- >

  <!-- Google Analytics JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2028878-11', 'auto');
  ga('send', 'pageview');

</script>
  </body>
</html>