<!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top navbar-static" >
      <div class="container">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/"><img class="mobile" src="/assets/img/Apax_logo_red.png" alt="APAX Software Logo" height="45px" style="margin-top: 4px;"> </a>
           <!-- Old Header Text 
           <a class="navbar-brand" href="#"><b>Awesome Inc</b></a>
           -->
           <!-- Added to make the logo move down a little.
           -->
          <!-- <div style="margin: 0px; padding:0px; clear: both; height: 6px"> -->
        &nbsp;
        </div>
        <div class="collapse navbar-collapse">
          <ul id="sddm" class="nav navbar-nav navbar-right" style="min-width:0"> <!-- RIGHT ALIGNED NAVBAR -->
            <li {% if page.path contains 'about' %} class="active" {% endif %}>   <!-- ABOUT -->
                <a data-toggle="collapse" data-target=".navbar-collapse" href="/about/">About</a>
              </li> 
            <li {% if page.path contains 'services' %} class="active" {% endif %}>  <!-- SERVICES -->
                <a data-toggle="collapse" data-target=".navbar-collapse" href="/services/">Services</a>
              </li>
            <li {% if page.path contains 'portfolio' %} class="active" {% endif %}>    <!-- Work -->
                <a data-toggle="collapse" data-target=".navbar-collapse" href="/portfolio/">Portfolio</a>
            </li>
            <li {% if page.path contains 'team' %} class="active" {% endif %}>   <!-- Team -->
                <a data-toggle="collapse" data-target=".navbar-collapse"  href="/team/">Team </a>
              </li>
            <li {% if page.path contains 'contact' %} class="active" {% endif %}> <!-- Contact -->
                <a data-toggle="collapse" data-target=".navbar-collapse"  href="/contact/">Contact</a>
            </li>
            <li id="mobile-none"> <!-- Community -->

                <a href="#" 
                onmouseover="mopen('m5')" 
              onmouseout="mclosetime()" style="color: #c31337">
              <!-- <img src="/assets/img/ainc_community_logo.png" width="20px" height="20px"> -->
                  Community
                </a>
                <div id="m5" onmouseover="mcancelclosetime()" 
              onmouseout="mclosetime()">
                    <a href="http://www.awesomeinc.org" target="_blank">Startups</a>
                    <a href="http://www.awesomeincu.com" target="_blank">Coding Courses</a>
                    <!-- <a href="http://www.apaxsoftware.com" target="_blank">Software</a> -->
                    <a href="http://www.cherubfund.org" target="_blank">Investment</a>
                    <a href="http://www.awesomeinc.org/about#calendar" target="_blank">Events</a>
                </div>
              </li>



            </ul>
          </div>
          <!-- <div style="clear:both"></div> -->
        </div><!--/.nav-collapse -->
    </div>