---
---
//colors
$color_alto_approx: rgb(222, 222, 222);
$color_cardinal_approx: #c31337;
$color_pumice_approx: rgb(200, 200, 200);
$color_shady_lady_approx: rgb(165, 165, 165);
$color_pippin_approx: rgb(255,222,223);
$color_gray: #CECECE;
$color_light_gray: rgb(236, 236, 236);
$black: black;
$color_silver_chalice_approx: #aaa;
/*
//mobile sizes
$break-small: 500px;
$break-large: 1200px;*/


//sizes

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: $tablet-width - 1;

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.nav > li > a {
	@include tablet {
		padding:15px 10px;	
	}
	
}

#headerwrap {
	background: url(../img/headers/Working.png) no-repeat center top;
	/*margin-top: 50px;*/
	padding-top:20px;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @include mobile {
    	height: 300px;
    }

    h1, h2 {
    	padding-left: 100px;
    	@include mobile {
    		padding-left: 0;
    		font-size: 1em;
    	}
    }
}

.subheader {
	background-repeat: no-repeat;
	background-size: 100%;	
	width: 100%;
	height: 250px;
	border-bottom: 25px rgb(207, 53, 59);
	background-color: #BF001E;
	h1, h2 {
		color: white;
		padding: 50px 0 0px 0;
		font-weight: 800;
		font-size: 5em;
	}
	h2 {
		font-size: 2.5em;
		font-weight: 400;
		margin-top: 0;
		padding-top: 0;
	}
	
	h1 {
		@include mobile {
			font-size: 35px;
		}
	}
	h2 { 
		@include mobile {
			font-size: 25px;
		}
	}
	@include mobile {
		height: 140px;
	}
	
}

.Services {
	.services-page {
		background-image: url("/assets/img/headers/Meeting.png");
		background-position: 0 -100px;
		@include mobile {
			background-position: 0 20px;
		}
	}
	@include mobile {
		img {
			margin-left: 25%;
			width: 50%;
			margin-top: 0;
		}
	}
	.segment {
		a:hover {
			width: 100%;
			color: rgb(201, 99, 115);
		}
	}
}

#features {
	@include mobile {
		img {
			width: 25%;	
		}
		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}
		
	}
}

.gradient {
	background: #cecece; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #cecece 0%, #ffffff 49%, #ffffff 51%, #cecece 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #cecece 0%,#ffffff 49%,#ffffff 51%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #cecece 0%,#ffffff 49%,#ffffff 51%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cecece',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.shadow {
	moz-box-shadow:    1px 1px 3px 1px #CCC;
	-webkit-box-shadow: 1px 1px 3px 1px #CCC;
	box-shadow:         1px 1px 3px 1px #CCC;
}

.Portfolio {
	h2 {
		font-size: 30px;
		color: white;
	}
	.company {

		.img-container {
			border: 1px solid #CCC;
			height: 175px;
			width: 80%;
			margin-left: 10%;
			&:before {
				content: ' ';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			img {
				vertical-align: middle;
				display: inline-block;
				width: 90%;
				margin-left: 5%;
			}
		}
		h3, a {
			color: $color_cardinal_approx;
			&:hover {
				color: #999999;
			}
		}
		h3 {
			padding: 0 10%;
			font-size: 24px;
		}
		p {
			padding: 0 10%;
			font-size: 12px;
			line-height: 18px;
			font-weight: 400;
			text-align: justify;
		}
	}
	
	img {
		width: 35%;
	}
	@include mobile {
		h2 {
			font-size: 1.25em;
		}
		p {
			font-size: 0.75em;
			line-height: 1.1em;
		}
	}
}
.Contact, #contact {
	.contact-page {
		background-image: url("/assets/img/headers/Typing.png");
	}
	@include mobile {
		h3 {
			font-size: 1em;
		}
		p {
			font-size: 0.8em;
			line-height: 1.25em;
		}
		.input-lg {
			height: 28px;
			font-size: 14px;
		}
		.large-box {
			height: 100px;
		}
	}
}

.across {
	width: 100%;
}

.About {
	p {
		margin-top: 40px;
		font-size: 1.2em;
		font-weight: 300;
		color: $black;
		line-height: 1.4em;
	}
	h3 {
		color: #BF001E;
		margin: 30px 0;
	}
	li {
		font-size: 20px;
		line-height: 33px;
	}
	.across {
		border: 1px solid #ECECEC;
		height: 201px;
		.col-md-8 {
			background-color: #ECECEC;
		}
		p {
			color: $color_cardinal_approx;
			font-size: 24px;
			line-height: 34px;
		}
		.row {
			margin: 0;
			padding: 0;
			&:first-child {
				margin-top: 25px;
			}
			&:last-child {
				margin-bottom: 25px;
			}
		}
		a {
			color: #BF001E;
			&:hover {
				color: #CCC;
			}
			i {
				margin: 15px;
				margin-top: 0;
			}
			
		}
	}
	#mentors {
		h3 {
			margin-left: 1%;
		}
		hr {
			border-top: 2px solid #ececec;
		}
		.mentor {
			img {
				width: 90%;
				margin-left: 5%;
			}
			h6 {
				font-size: 18px;
				margin-bottom: 0;
				color: $color_cardinal_approx;
			}
			p {
				font-size: 14px;
				margin-top: 5px;
				color: $color_cardinal_approx;
				text-transform: uppercase;
				font-weight: 600;
			}
		}
		h4 {
			color: #bbb;
			margin-right: 1%;
			text-transform: uppercase;
			font-weight: 400;
			&:hover {
				text-decoration: underline;
			}
			i {
				font-size: 0.75em;
			}
		}
	}
	#team {
		.col-md-4 {
			padding: 0 60px;
		}
		h2 {
			font-size: 34px;
			margin-left: 5%;
			margin-bottom: 30px;
			color: $color_cardinal_approx;

		}
		p.col-md-6, span {	
			padding: 0;
			margin: 0;
			// margin-bottom: 40px;
		}
		i {
			color: $color_cardinal_approx;
			margin-right: 4px;
			font-size: 2em;
			vertical-align: middle;
		}
		a {
			color: black;
		}
		a:hover {
			color: $color_cardinal_approx;
		}
		img {
			width: 100%;
			border-radius: 50%;
		}
		h3 {
			color: $color_cardinal_approx;
			font-size: 1.2em;
			font-weight: 200;
			margin-bottom: 0;
		}
		h4 {
			color: $color_cardinal_approx;
			font-size: 0.9em;
			font-weight: 600;
			margin-top: 4px;;
			text-transform: uppercase;
		}
		p {
			font-size: 0.7em;
			line-height: 1em;
			margin-top: 0;
		}
		p.phone {
			float: right;
		}
		@include mobile {
			p.phone {
				float: left;
			}
			p {
				margin-bottom: 5px;
			}
			img {
				padding-top: 20px;
			}
			hr {
				margin: 0.25em;
			}
			h3 {
				margin-top: 10px;
			}
		}
	}
	
	@include mobile {
		h3 {
			font-size: 1.5em;
			margin: 20px;
		}
		p {
			font-size: 1em;
			line-height: 1.4em;
		}
	}
}

.Perks {
	color: black;
	@include desktop {
		.container.full {
			margin-left: 0;
			padding-left: 0;
			margin-right: 0;
			padding-right: 0;
			width: 100%;
			max-width: 100%;
		}
	}

	img {
		width: 150px;
		margin: auto;
		display: block;
		margin-bottom: 15px;
	}
	h3 {
		font-size: 34px;
		font-family: Handlee;
		text-align: left;
		margin-left: 8.5%;
		margin-bottom: 3%;
	}
	
	p {
		font-size: 14px;
		width: 90%;
		word-spacing: 2px;
		padding-left: 10%;
		margin-top: 30px;
		line-height: 18px;
		text-align: left;
	}
	.col-lg-6 {
		margin-bottom: 50px;
	}
	#talent {
		background-color: $color_light_gray;
		padding-bottom: 40px;

	}
	#space, #support, #experience {
		background-color: white;
		.col-lg-6 {
			background: none;
			border-right: 2px solid $color_light_gray;
			&:last-child {
				border-right: none;
			}
		}

		p {
			width: 90%;
			padding-left: 10%;
			min-height: 60px;
			margin-bottom: 0;
			&:last-child {
				min-height: 0;
				margin-top: 0;
			}	
		}

	}

	#support {
		background-color: $color_light_gray;
		.col-lg-6 {
			border-right: 2px solid white;
			&:last-child {
				border-right: none;
			}
		}
		p {
			 min-height: 50px;
			 width: 70%;
			 margin-left: 15%;
			 &:last-child {
			 	min-height: 0;
			 }
		}
	}

	.col-lg-4 {
		background: none;
		border-right: 2px solid white;
		&:last-child {
			border-right: none;
		}
		p {
			min-height: 50px;
			margin-bottom: 0;
		}
		p:last-child {
			min-height: 0;
			margin-top: 0;
		}
	}

	b {
		font-weight: 600;
		text-transform: uppercase;
	}

	a {
		color: rgb(220, 32, 37);
	}
	div.col-lg-12 {
		padding-left: 0;
	}

	div {
		&.col-lg-4 {
			padding-right: 0;
		}
		&.row {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}

.Team {
	.about-page {
		background-image: url("/assets/img/headers/Team.png");
		background-position: 0px -100px;
		@include mobile {
			background-position: 0 10px;
		}
		@include tablet {
			background-position: 0 0;
		}
	}
	.col-md-4 {
		padding: 0 60px;
	}
	p.col-md-6, span {	
		padding: 0;
		margin: 0;
		// margin-bottom: 40px;
	}
	i {
		color: $color_cardinal_approx;
		margin-right: 4px;
		font-size: 2em;
		vertical-align: middle;
	}
	a {
		color: black;
	}
	a:hover {
		color: $color_cardinal_approx;
	}
	img {
		width: 100%;
	}
	h3 {
		color: $color_cardinal_approx;
		font-size: 1.2em;
		font-weight: 200;
		margin-bottom: 0;
	}
	h4 {
		color: $color_cardinal_approx;
		font-size: 0.9em;
		font-weight: 600;
		margin-top: 4px;;
		text-transform: uppercase;
	}
	p {
		font-size: 0.7em;
		line-height: 1em;
	}
	p.phone {
		float: right;
	}
	@include mobile {
		p.phone {
			float: left;
		}
		p {
			margin-bottom: 5px;
		}
		img {
			padding-top: 20px;
		}
		hr {
			margin: 0.25em;
		}
		h3 {
			margin-top: 10px;
		}
	}
}
.two-col {
	text-align: justify;
	margin-top: 20px;
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

//@extend-elements
//original selectors
//html, body
%extend_1 {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

//original selectors
//footer .col-lg-4, footer .col-xs-4
%extend_2 {
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}


html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
#wrap {
	min-height: 50%;
}
#main {
	overflow: auto;
	padding-bottom: 150px;
}
.room {
	margin-top: 25px;
	margin-bottom: 25px;
}
.grey-bg {
	background-color: $color_alto_approx;
}
.temp-div {
	height: 35px;
	width: 100%;
	background-color: $color_cardinal_approx;
}
/*div[class^='col-lg'] {
	margin-top: 50px;
	margin-bottom: 50px;
}*/
.footer {
	table tbody {
		a:hover {
			color: #dedede;
		}
		th {
			border-bottom: 1px solid $color_alto_approx;
			border-top: none;
			font-size: 1.76em;
			color: $color_alto_approx;
			font-weight: 600;
			&:last-child {
				width: 25%;
			}
		}
		tr td {
			border-top: none;
			padding: 5px;
		}
		img {
			width: 35px;
			height: 35px;
		}
		@include mobile {
			th {
				font-size: 1em;
			}
			tr td {
				padding: 0;
				padding-right: 2px;
			}
			img {
				display: none;
			}
		}
	}
	position: relative;
	clear: both;
	h4 {
		color: $color_pumice_approx;
		font-weight: 400;
	}
	.row {
		margin: 0;
	}
	li {
		list-style-type: none;
		margin-bottom: 10px;
	}
	a {
		color: $color_shady_lady_approx;
	}
	img {
		margin-bottom: 10px;
	}
}
@media(max-width: 1800px) {
	footer a {
		font-size: 24px;
	}
	.Services p {
		font-size: 20px;
		line-height: 28px;
	}
}
@media(max-width: 650px) {
	footer a {
		font-size: 12px;
	}
	.footer table tbody th {
		font-size: 15px;
	}
	.Services p {
		font-size: 14px;
		line-height: 16px;
	}

}
.ic_container {
	vertical-align: baseline;
	margin: 10px;
	position: relative;
}
.overlay {
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption {
	position: absolute;
	opacity: 0.6;
	overflow: hidden;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	h3 {
		padding: 0 5px 5px;
		margin: 0;
		font-size: 18px;
	}
}
.ic_category {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 3px;
	padding: 5px;
	margin: 0;
}
.ic_text {
	padding: 5px;
	margin: 0;
	text-align: justify;
	font-size: 11px;
}
#CustInfo {
	width: 100%;
	padding: 5px;
	margin: 5px;
}
#QuoteInfo {
	width: 100%;
	h2 {
		font-size: 35px !important;
	}
	p {
		line-height: 25px !important;
	}
}
#QuoteOpen {
	margin-left: 32%;
}
#WthroughAnchor {
	height: 50px;
	width: 100%;
}
#Wthrough {
	background-color: $color_pippin_approx;
	width: 100% !important;
	min-height: 366px;
}
.center {
	text-align: center;
	margin: auto;
	display: block;
}
.row {
	margin: 25px 0;
}

#features a:hover {
	img {
		filter: none;
		-webkit-filter: none;
	}
}
#features img {
	text-align: center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	&:hover {
		filter: none;
		-webkit-filter: none;
	}
	@include mobile {
		padding-top: 20px;
	}
}
.segment img {
	width: 45%;
	height: 100%;
	text-align: center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	&:hover {
		text-align: center;
		filter: none;
		-webkit-filter: none;
	}
}
div.teammate {
	background-color: $color_silver_chalice_approx;
	width: 80%;
	height: 250px;
	margin: auto;
	display: block;
}
.teammate img {
	width: 50%;
	border-radius: 50%;
	margin-top: 10px;
}


