---
---
//colors
$color_alto_approx: rgb(222, 222, 222);
$color_cardinal_approx: #c31337;
$color_pumice_approx: rgb(200, 200, 200);
$color_shady_lady_approx: rgb(165, 165, 165);
$color_pippin_approx: rgb(255,222,223);
$gray: gray;
$black: black;
$color_silver_chalice_approx: #aaa;
/*
//mobile sizes
$break-small: 500px;
$break-large: 1200px;*/


//sizes

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width: $tablet-width - 1;

@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

.subheader .img-overlay {
	h1, h2 {
		color: white;
		font-family: 'open sans';
		font-weight: 600;
		// font-style: shadow;
		// text-shadow: 1px 3px rgba(0,0,0, 0.5);
	}
	h1 {
		padding: 70px 0 0px 0;
		font-size: 60px;
	}
	h2 {
		margin-top: 0;
		padding-top: 0;
	}
	
	h1 {
		@include mobile {
			font-size: 35px;
		}
	}
	h2 { 
		@include mobile {
			font-size: 25px;
		}
	}
}

.Services {
	@include mobile {
		img {
			margin-left: 25%;
			width: 50%;
			margin-top: 0;
		}
	}
}

#features {
	@include mobile {
		img {
			width: 25%;	
		}
		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}
		
	}
}

.Work {
	h2 {
		font-size: 30px;
		color: $color_cardinal_approx;
	}
	p {
		line-height: 23px;
		font-weight: 400;
		text-align: justify;
	}
	img {
		width: 35%;
	}
	@include mobile {
		h2 {
			font-size: 1.25em;
		}
		p {
			font-size: 0.75em;
			line-height: 1.1em;
		}
	}
}
#contact {
	@include mobile {
		h3 {
			font-size: 1em;
		}
		p {
			font-size: 0.8em;
			line-height: 1.25em;
		}
		.input-lg {
			height: 28px;
			font-size: 14px;
		}
	}
}

.About {
	p {
		color: $black;
	}
	h3 {
		margin: 30px;
	}
	@include mobile {
		h3 {
			font-size: 1.5em;
			margin: 20px;
		}
		p {
			font-size: 1em;
			line-height: 1.4em;
		}
	}
}

.Team {
	.col-md-4 {
		padding: 0 60px;
	}
	p.col-md-6, span {	
		padding: 0;
		margin: 0;
		// margin-bottom: 40px;
	}
	i {
		color: $color_cardinal_approx;
		margin-right: 4px;
		font-size: 2em;
		vertical-align: middle;
	}
	a {
		color: black;
	}
	a:hover {
		color: $color_cardinal_approx;
	}
	img {
		width: 100%;
	}
	h3 {
		color: $color_cardinal_approx;
		font-size: 1.2em;
		font-weight: 200;
		margin-bottom: 0;
	}
	h4 {
		color: $color_cardinal_approx;
		font-size: 0.9em;
		font-weight: 600;
		margin-top: 4px;;
		text-transform: uppercase;
	}
	p {
		font-size: 0.7em;
		line-height: 1em;
	}
	p.phone {
		float: right;
	}
	@include mobile {
		p.phone {
			float: left;
		}
		p {
			margin-bottom: 5px;
		}
	}
}

//@extend-elements
//original selectors
//html, body
%extend_1 {
	height: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

//original selectors
//footer .col-lg-4, footer .col-xs-4
%extend_2 {
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}


html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
#wrap {
	min-height: 50%;
}
#main {
	overflow: auto;
	padding-bottom: 150px;
}
.room {
	margin-top: 25px;
	margin-bottom: 25px;
}
.grey-bg {
	background-color: $color_alto_approx;
}
.temp-div {
	height: 35px;
	width: 100%;
	background-color: $color_cardinal_approx;
}
/*div[class^='col-lg'] {
	margin-top: 50px;
	margin-bottom: 50px;
}*/
.footer {
	table tbody {
		a:hover {
			color: #dedede;
		}
		th {
			border-bottom: 1px solid $color_alto_approx;
			border-top: none;
			font-size: 1.76em;
			color: $color_alto_approx;
			font-weight: 600;
			&:last-child {
				width: 25%;
			}
		}
		tr td {
			border-top: none;
			padding: 5px;
		}
		img {
			width: 35px;
			height: 35px;
		}
		@include mobile {
			th {
				font-size: 1em;
			}
			tr td {
				padding: 0;
				padding-right: 2px;
			}
			img {
				display: none;
			}
		}
	}
	position: relative;
	clear: both;
	h4 {
		color: $color_pumice_approx;
		font-weight: 400;
	}
	.row {
		margin: 0;
	}
	li {
		list-style-type: none;
		margin-bottom: 10px;
	}
	a {
		color: $color_shady_lady_approx;
	}
	img {
		margin-bottom: 10px;
	}
}
@media(max-width: 1800px) {
	footer a {
		font-size: 24px;
	}
	.Services p {
		font-size: 20px;
		line-height: 28px;
	}
}
@media(max-width: 650px) {
	footer a {
		font-size: 12px;
	}
	.footer table tbody th {
		font-size: 15px;
	}
	.Services p {
		font-size: 14px;
		line-height: 16px;
	}
}
.ic_container {
	vertical-align: baseline;
	margin: 10px;
	position: relative;
}
.overlay {
	opacity: 0.3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption {
	position: absolute;
	opacity: 0.6;
	overflow: hidden;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	cursor: default;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	h3 {
		padding: 0 5px 5px;
		margin: 0;
		font-size: 18px;
	}
}
.ic_category {
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 3px;
	padding: 5px;
	margin: 0;
}
.ic_text {
	padding: 5px;
	margin: 0;
	text-align: justify;
	font-size: 11px;
}
#CustInfo {
	width: 100%;
	padding: 5px;
	margin: 5px;
}
#QuoteInfo {
	width: 100%;
	h2 {
		font-size: 35px !important;
	}
	p {
		line-height: 25px !important;
	}
}
#QuoteOpen {
	margin-left: 32%;
}
#WthroughAnchor {
	height: 50px;
	width: 100%;
}
#Wthrough {
	background-color: $color_pippin_approx;
	width: 100% !important;
	min-height: 366px;
}
.center {
	text-align: center;
	margin: auto;
	display: block;
}
.row {
	margin: 25px 0;
}

#features a:hover {
	img {
		filter: none;
		-webkit-filter: none;
	}
}
#features img {
	text-align: center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	&:hover {
		filter: none;
		-webkit-filter: none;
	}
}
.segment img {
	text-align: center;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	&:hover {
		text-align: center;
		filter: none;
		-webkit-filter: none;
	}
}
div.teammate {
	background-color: $color_silver_chalice_approx;
	width: 80%;
	height: 250px;
	margin: auto;
	display: block;
}
.teammate img {
	width: 50%;
	border-radius: 50%;
	margin-top: 10px;
}


