html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
#wrap {min-height: 50%;}
#main {overflow:auto;
    padding-bottom: 150px;}

.room {
    margin-top: 25px;
    margin-bottom: 25px;
}
/*.mobile {
    display: none;
}
.non-mobile {
    position: absolute;
    top: 4px;
}
.navbar-header {
    display: none;
}
@media (max-width: 650px) {
    .non-mobile {
        display: none;
    }
    .mobile {
        display: block;
        height: 35px;
        bottom: 5px;
        position: absolute;
    }
    .navbar-header {
        display: block;
    }
}*/


.grey-bg {
    background-color: rgb(222, 222, 222);
}

.temp-div {
    height:35px; 
    width:100%; 
    background-color:rgb(29, 44, 140);
}
div[class^='col-lg']{
    margin-top: 50px;
    margin-bottom: 50px;
}
footer {position: relative;
    /*margin-top: -150px;  negative value of footer height 
    height: 150px;*/
    clear:both;} 
footer .col-lg-4, footer .col-xs-4 {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0px; 
    /*height: none;*/
}
footer h4{
    color: rgb(200, 200, 200);
    font-weight: 400;
}

footer .row {
    margin: 0 0;
}
footer hr {
    margin-right: -50px;
}
footer hr.last {
    margin-right: 78px; 
}
footer hr.first {
    margin-left: 32px; 
}
footer li {
    list-style-type: none;
    margin-bottom: 10px;
}
footer a {
    color: rgb(165, 165, 165);
}
footer img {
    margin-bottom: 10px;
}    
footer hr {
    margin-top: -10px;
}
@media (max-width: 1800px) {
    footer a {
        font-size: 24px;
    }
}
@media (max-width: 650px) {
    footer a {
        font-size: 12px;
    }
    footer h4 {
        font-size: 15px;
    }
}

.ic_container{
    vertical-align:baseline;
    margin:10px;
    position:relative;
    /*-moz-border-radius:10px;
    -webkit-border-radius:10px;
    -khtml-border-radius:10px;
    -moz-box-shadow: 0 1px 3px #888;
    -webkit-box-shadow: 0 1px 3px #888;*/
}
.overlay{
    opacity:0.3;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption{
    position:absolute;    
    opacity:0.6;   
    overflow:hidden;
    margin:0px;
    padding:0px;
    left:0px;
    right:0px;
    cursor:default;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.ic_category{
    text-transform:uppercase;
    font-size:11px;
    letter-spacing:3px;
    padding:5px;
    margin:0px;
}
.ic_caption h3{
    padding:0px 5px 5px 5px;
    margin:0px;
    font-size:18px;
}
.ic_text{
    padding:5px;
    margin:0px;
    text-align:justify;
    font-size:11px;
}

#CustInfo{
    width:100%;
    padding:5px;
    margin:5px;
}

#QuoteInfo{
    width:100%;

}
#QuoteInfo h2{
    font-size:35px !important;
}
#QuoteInfo p{
    line-height:25px !important;
}
#QuoteOpen{
    margin-left:32%;
    
}

#WthroughAnchor{
    height:50px;
    width:100%;
}
#Wthrough{
    background-color:rgb(255,222,223);
    width:100% !important;
    min-height:366px;
}

.center {
    text-align: center;
    margin: auto;
    display: block;
}

/********************** HOME PAGE ****************************/
.row {
    margin: 25px 0;
}
#features img, .segment img {
    text-align: center;
    -webkit-filter: grayscale(1); /* Webkit */
    filter: gray; /* IE6-9 */

}
#features img:hover, .segment img:hover {
    text-align: center;
    -webkit-filter: none; /* Webkit */
    filter: none; /* IE6-9 */

}

/********************** ABOUT PAGE ****************************/
#history p {
    color: black;
}

/********************** SERVICES PAGE ****************************/
@media (max-width: 1800px) {
    .Services p {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 650px) {
    .Services p {
        font-size: 14px;
        line-height: 16px;
    }
}

/********************** TEAM PAGE ****************************/

div.teammate {
    background-color: #aaa;
    width: 80%;
    height: 250px;
    margin: auto;
    display: block;
}
.teammate img {
    width: 50%;
    border-radius: 50%;
    margin-top: 10px 
}













